version: "3.9"

services:

  postgres-user:
    image: postgres:15
    container_name: postgres-user
    environment:
      POSTGRES_DB: userdb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: userpass
    ports:
      - "5433:5432"
    command: postgres -c wal_level=logical

  postgres-outbox:
    image: postgres:15
    container_name: postgres-outbox
    environment:
      POSTGRES_DB: outboxdb
      POSTGRES_USER: outbox
      POSTGRES_PASSWORD: outboxpass
    ports:
      - "5434:5432"
    command: postgres -c wal_level=logical
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASS}
    ports:
      - "${PGADMIN_PORT}:80"
    volumes:
      - ./server.json:/pgadmin4/server.json
    depends_on:
      - postgres-user
      - postgres-outbox

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    depends_on: [zookeeper]
    ports:
      - "9092:9092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  debezium:
    image: debezium/connect:2.5
    depends_on: [kafka, postgres-outbox]
    ports:
      - "8083:8083"
    environment:
      BOOTSTRAP_SERVERS: kafka:9092
      GROUP_ID: debezium
      CONFIG_STORAGE_TOPIC: debezium_config
      OFFSET_STORAGE_TOPIC: debezium_offset
      STATUS_STORAGE_TOPIC: debezium_status

  redis:
    image: redis:latest
    container_name: redis-container
    ports:
      - '6379:6379'
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    command: [ 'redis-server', '--requirepass', '${REDIS_PASSWORD}' ]
    volumes:
      - redis-data:/data
    networks:
      - redis-net
    restart: always

  redis-commander:
    image: rediscommander/redis-commander:latest # Correct image name
    container_name: redis-commander
    ports:
      - '8081:8081'
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    networks:
      - redis-net
    depends_on:
      - redis
    restart: always


  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    ports:
      - "8090:8080"
    depends_on: [kafka]
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092

volumes:
  redis-data:

networks:
  redis-net:
    driver: bridge
